<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('build/css/creative.css') }}">
            <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        {% endblock %}
    </head>
    <body id="page-top">
        {% block body %}{% endblock %}
        {% block javascripts %}
        	<script src="{{ asset('build/manifest.js') }}"></script>
        	<script src="{{ asset('build/js/common.js') }}"></script>
        	<script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
